@import "../../../StylesUtilities/utilities.scss";

.bg {
    width: 100vw;
    height: 100vh;
    background-image: $bg-image;

    .container {
        font-family: $montserrat;
        width: 100%;
        min-height: 100%;
        backdrop-filter: blur(100px);

        @include flexCenter;
        gap: 30px;
        flex-direction: column;
    }

    .newLoan {
        position: sticky;
        top: 85vh;
        left: 90vw;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        @include flexSpaceE;
        background-color: rgba(123, 0, 255, 0.491);
        color: $light-main;
        font-size: 30px;
        font-family: $raleway;
        font-weight: 500;
        box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.283);
        cursor: pointer;
        transition: 150ms;
        border: none;

        &:hover {
            transform: translate(-5px, -5px);
            box-shadow: 8px 8px 15px 3px rgba(0, 0, 0, 0.168);
        }

    }
}

.loanCard {
    box-sizing: border-box;
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.283);
    background-color: rgba(255, 255, 255, 0.347);

    overflow: hidden;

    @include flexSpaceB;


    .name {
        font-size: 26px;
        color: #00000080;
        font-family: $nunito;
    }
}


//          NEW LOAN

.containerAdd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    @include flexCenter;
    z-index: 15;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.446);

    .card {
        width: 60%;
        min-height: 100%;
        padding: 30px;
        background-color: #fff;
        border-radius: 15px;
        @include flexCenter;
        gap: 30px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: rgb(105, 0, 0);
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    .form {
        width: 60%;
        @include flexCenter;
        flex-direction: column;
        gap: 40px;
    }

    .submitLoan {
        @include buttonSubmit;
        background-image: linear-gradient(to top right, rgba(60, 0, 109, 0.288), rgb(72, 0, 144));
        color: white;


        &:hover {
            background-image: linear-gradient(to top right, rgba(109, 0, 198, 0.288), rgb(113, 0, 226));
        }
    }

    .submitLoanDis {
        @include buttonSubmit;
        background-image: linear-gradient(to top right, rgba(76, 71, 81, 0.288), rgb(138, 136, 139));
        color: white;
        pointer-events: none;
    }

    .check {
        @include flexCenter;
        gap: 15px;
        font-size: 14px;
        font-family: $montserrat;
        font-weight: 300;
    }

    .submitField {
        @include flexCenter;
        gap: 5px;
    }

    .lockIcon {
        font-size: 20px;
        color: rgb(123, 0, 0);
    }

    .unlockIcon {
        font-size: 20px;
        color: rgb(37, 123, 0);
    }

}

.colourPicker {
    width: 100%;

    .colours {
        @include flexSpaceE;
        gap: 10px;

        .red, .blue, .violet, .green {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
            transition: 150ms;

            &:hover {
                transform: scale(1.3)
            }
        }

        .picked {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 10px;
        }

        .red {
            background-image: linear-gradient(to top right, rgb(137, 0, 0), rgb(211, 0, 0));
        }

        .green {
            background-image: linear-gradient(to top right, rgb(0, 137, 0), rgb(0, 211, 0));
        }

        .blue {
            background-image: linear-gradient(to top right, rgb(0, 0, 137), rgb(0, 0, 211));
        }

        .violet {
            background-image: linear-gradient(to top right, rgb(85, 0, 182), rgb(116, 0, 231));

        }
    }
}

