@import "../../../StylesUtilities/utilities.scss";

.navbar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    @include flexSpaceB;
    padding: 10px;
    font-size: clamp(14px, 12px + 1vw, 24px);
    height: 40px;
    background-color: #fff;

    z-index: 30;
    
    .logo {
        width: clamp(100px, 50%, 300px);
        @include flexSpaceB;

        &__image {
            background-image: url("../../../assets/Logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 40px;
            height: 40px;
        }

        &__text {
            font-weight: 300;
        }
    }


    .toggle {
        width: 40px;
        height: 40px;
        background-color: transparent;
        @include flexCenter;
        flex-direction: column;
        gap: 3px;
        padding: 10px;
        border: none;
        cursor: pointer;
        transition: all 150ms;
        opacity: .5;

        &__line {
            width: 20px;
            height: 3px;
            border-radius: 8px;
            background-color: rgb(22, 22, 22);

        }

        &:hover {
            opacity: 1;
        }

        &:active {
            transform: scale(.9);
        }
    }
}

.menu {

    position: fixed;
    padding: 20px 0px;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 20;
    min-height: 200px;
    @include flexCenter;
    flex-direction: column;
    gap: 10px;

    font-size: clamp(14px, 12px + 1vw, 20px);
    background-color: #fff;
    transition: all 250ms;

    a, a:active, a:link, a:visited {
        position: relative;
        padding: 5px;
        color: $dark-main;
        text-decoration: none;
        overflow: hidden;
        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 90%;
            height: 5px;
            background-color: $danger-light;
            opacity: .5;
            transition: all 250ms cubic-bezier(0.06, 1.71, 0.91, 1.06);
        }

        &:hover::before {
            left: 5%;
        }
    }

    &__hidden {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 0;
        transition: 250ms;
    


        a, a:active, a:link, a:visited {
            opacity: 0;
        }
    }
}


//          LOGGED NAVBAR

.containerLogged {
    position: absolute;
    box-sizing: border-box;
    top: 5px;
    z-index: 30;
    border-radius: 16px;

    width: 98%;
    margin: 1%;
    min-height: 120px;
    padding: 30px;
    @include flexSpaceB;


    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.362);
    color: rgb(64, 64, 64);
    font-size: 24px;

    .arrow {
        box-sizing: border-box;
        position: absolute;
        bottom: -25px;
        right: 50%;
        @include flexCenter;

        width: 50px;
        height: 50px;
        padding-top: 30px;
        border-radius: 50%;
        font-size: 24px;
        border-radius: 16px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid grey;
        transition: 250ms;
        cursor: pointer;
        z-index: 5;


        &:hover {
            color: rgb(81, 0, 255);
            text-shadow: 0 0 2px rgb(93, 0, 255);
        }
    }

    .console {
        @include flexSpaceE;
        width: 100%;

        .animationsBtn {
            @include pressedNavbar;
            position: relative;
            color: rgba(255, 0, 0, 0.511);
             
            &:hover::before{
                position: absolute;
                bottom: -50px;
                left: 0;
                font-size: 14px;
                content:'Animations';
                height: auto;

                padding: 10px;
                width: 140px;
                z-index: 20;
                background-color: rgb(0, 0, 0);
                color: white;
                border-radius: 12px;
            }
        }

        .noanimationsBtn {
            @include unpressedNavbar;
        }

        .backBtn,
        .home {
            @include unpressedNavbar;
        }
    }


}