//          FONTS

$montserrat: 'Montserrat',
sans-serif; //  100, 300, 500
$nunito: 'Nunito',
sans-serif; //  200, 300, 400, 700
$raleway: 'Raleway',
sans-serif; //  100, 300, 500
$bebas: 'Bebas Neue',
cursive; //  400
$advent: 'Advent Pro',
sans-serif; //  100

//          SIZES
$width-landing: clamp(300px, 90%, 1100px);

//          COLORS

//   for bg and main fonts
$dark-main: #121212;
$light-main: #efefef;


//   for other elements  in dark mode
$error-dark: rgb(190, 80, 80);
$danger-dark: rgb(190, 175, 80);
$succes-dark: rgb(80, 175, 80);
$info-dark: rgb(80, 90, 180);

//   for other elements  in light mode
$error-light: rgb(255, 80, 80);
$danger-light: rgb(235, 204, 0);
$succes-light: rgb(60, 190, 60);
$info-light: rgb(80, 80, 255);


// customize-colors

$login-button: rgba(255, 153, 0, 0.687);



//  Background-images

$bg-image : url("../assets/Moon.svg")

