@import '../../../StylesUtilities/utilities.scss';

.container,
.containerDark {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    @include flexCenter;
    flex-direction: column;
}

.container {
    background-color: $light-main;
    --main-bg-color: $light-main;
    --main-font-color: $dark-main;
}

.containerDark {
    background-color: $light-main;
    $main-bg-color: $dark-main;
    --main-font-color: $light-main;
}

.content {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.447);
    overflow: hidden;
    width: 98vw;
    min-height: 90vh;
    background-color: $light-main;
    color: $dark-main;
    font-family: $montserrat;

    @include flexSpaceB;
    flex-direction: column;
    gap: 20px;

    section {
        min-height: 750px;
        width: 100%;
    }

    .science {
        @include flexCenter;
    }

    .pros {
        margin-bottom: 100px;
    }
}

.progress {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    height: 5px;
    background: rgba(255, 0, 0, 0.458);
    transform-origin: 0%;
    z-index: 10;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

@media only screen and (max-width: 700px) {
    * > p,
    * > img {
        transform: scale(.8)
    }
}